.show-bike{
  margin-top: 50px;
}
.btn-book {
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
}

.bike-specs {
  list-style: none;
  padding: 0;
  li {
    font-size: 14px;
    color: #4e4d4d;

    span {
      font-weight: medium;
    }
  }
}

.bike-image {
  background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%)
}

.bike-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.image-bike-show {
  margin-left: 200px;
  width: 200;
  height: auto;
}

.seller-details {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  height: 100px;
  position: relative;
}

.booking-form{
  background-color: red;
  height: 100px;
}
.map-show {
  background-color: black;
  height: 100px;
}

.container-show-right {
    display: flex;
    flex-direction: column;
    /* height: 401px; */
    justify-content: space-around;
}

.container-show-left {
  background-color: #ffffff;
  padding: 15px;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
}

.golden {
  color: #f3d34d;
}

.show{
  position: relative;

}
