
.content {
  display: flex;
}

/* TODO: design your flexbox layout with a sticky map */
.main-container {
  display: flex;
}
/* We just give you a Gmaps with random width/height */

#map {
  flex-grow: 1;
  height: 100vh;
  position: sticky !important; /* !important to override Gmaps inline CSS */
  top: 0 !important;
}

.cards-container{
  padding: 10px;
}
