
.content {
  display: flex;
}

/* TODO: design your flexbox layout with a sticky map */
.main-map-and-cards-container {
  display: flex;
}
/* We just give you a Gmaps with random width/height */

#map {
  flex-grow: 1;
  height: 91vh;
  position: sticky !important; /* !important to override Gmaps inline CSS */
  top: 0 !important;
  flex: 0 0 450px;
}

.cards-container{
  padding: 10px;
}

.map-show {
  margin-top: 35px;
  height: 20px;

}
