
  <div class="row">
    <div class="rental-card col-xs-12 col-sm-6" >

      <div>
        <%= image_tag 'bycicle.jpg' , class: 'rental-image'%>
      </div>

      <div class="rental-info">
        <p>
          Posted by <%= rental.bike.seller.email %>
        </p>
      </div>

      <div class="rental-status">
        <p>Status</p>
      </div>
    </div>
  </div>


