
<div>
  <%= render 'shared/banner' %>
</div>

<div class="cards-container">
  <div class="row">
    <% @three_bikes.each do |bike| %>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <%= render partial: 'shared/card', locals: { bike: bike } %>
    </div>
    <% end %>
  </div>
</div>
