<style>

div {
  border: 1px solid #000000;
}
</style>


<div class ="text-center"><h1>Show page</h1></div>

<div class="wrapper">
  <div class="container text-center">
    <div class="row">

      <div class="col-xs-12 col-md-8">
        <div class="show_photo">
          <h1>PHOTO GOES HERE</h1>
          <%= cl_image_tag("ho2mdojh41ookcuezmbe",
      width: 400, height: 300, crop: :fill) %>
          <div class="seller_info">
            <p> <%= @bike.seller.name %> </p>
             <p> location  </p>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-md-4">
        <div class="bike_info">
          <p><%= @bike.name %></p>
          <p>location</p>
          <p>condition</p>
          <p>availability</p>
          <p>description</p>
          <p>price</p>
        </div>
      </div>


    </div>
  </div>
</div>
