/* Your banner CSS code here */
.banner {
  color: white;
  text-align: center;
  height: calc(70vh - 70px);
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: bottom;
  color: black;

}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  color: white;
}
.banner p {

  font-size: 15px;
  font-weight: lighter;

  margin-bottom: 50px;
  color: white;
  font-weight: lighter;

}
/*.banner .btn {
  margin-top: 20px;
}
*/
